<h1 align="center">Bem vindo ao Friends!</h1>

<h2 align="center">A maior rede social do mundo!</h2>
    <style>

    	.box {
    		border: 1px solid;
    		font-size: 20px;
    		background: ghostwhite;
    		margin: 10px;
    		padding: 5px;

    	}

    </style>

    <p>
        <h4 align="right"><%= link_to "Nova Publicação", "new" %></h4>
    </p>
		
	<% todos = Publication.all%>
    <% todos = todos.reverse %>
	<% todos.each do |publicacao| %>
	<div class="box">
    	<p><%= publicacao.legenda %></p>
        <p align="right"> Likes: <%= publicacao.like %>
        <%= button_to 'curtir', "curtir/#{publicacao.id}", class:"btn btn-success" %>
        <%= button_to 'apagar', "apagar/#{publicacao.id}", class:"btn btn-danger", data: {confirm: "Apagar?"} %>
        </p>
    </div>
    <br>
	<%end%>
<h1>Bem vindo a maior rede social do mundo!</h1>

